@model IEnumerable<BlueberrySwap.Models.Category>

@{
    ViewBag.Title = "Home Page";
}


<div class="container">
<div class="row">
    @foreach (var item in Model)
    {
    <div class="card col-md-4" style="text-align: center">
        <a href="#"><span style="font-size: 5em"><i class="fas @Html.DisplayFor(modelItem => item.Icon)" style="color: green;"></i></span></a>
        <div class="card-body">
         @Html.ActionLink(item.Name, "Index", controllerName: "Items", routeValues: new { categoryId = item.id }, htmlAttributes: null)
        </div>


        @if (User.IsInRole("admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) <text>|</text>
            @Html.ActionLink("Details", "Details", new { id = item.id }) <text>|</text>
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        }
               
    </div>   
    }
</div>
</div>