@model IEnumerable<BlueberrySwap.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Index</h2>
    @{
        int no_of_rows = @Model.Count() / 2;
    }
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
        <div class="card col-md-4" style="text-align: center">
            <a href="#"><span style="font-size: 5em;"><i class="fas @Html.DisplayFor(modelItem => item.icon)" style="color: green;"></i></span></a>
            <div class="card-body">
                <a href="#">@Html.DisplayFor(modelItem => item.name)</a>
            </div>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })
        </div>   
        }
</div>
