@model IEnumerable<BlueberrySwap.Models.Offer_Cash>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Would you like to sell an item?</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Offer.OfferedByName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CashValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Offer.Qty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Offer.OfferedByName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CashValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Offer.Qty)
        </td>
        <td>
            @Html.ActionLink("Accept", "Accept", "OfferCash", new { id = item.OfferId }, new { }) <text>|</text>
            @Html.ActionLink("Reject", "Reject", "OfferCash", new { id = item.OfferId }, new { })
        </td>
    </tr>
}

</table>
